@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-roboto
}

.input {
  @apply input-sm py-5 rounded-[6px]
}

.btn {
  min-height: 2.3rem;
  height: 2.3rem;
  border-radius: 6px;
  text-transform: none;
  line-height: 2.3rem;
}


.header-menu button:hover,
.header-menu a:hover {
  @apply bg-secondary text-white
}