@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-roboto
}

.input {
  @apply input-sm py-5 rounded-[6px]
}

.btn {
  min-height: 2.3rem;
  height: 2.3rem;
  border-radius: 6px;
  text-transform: none;
  line-height: 2.3rem;
}


.header-menu button:hover,
.header-menu a:hover {
  @apply bg-secondary text-white
}

.top-border {
  @apply border-t-8 border-secondary
}

.menu li>*:not(ul):not(.menu-title):not(details):active, .menu li>*:not(ul):not(.menu-title):not(details).active, .menu li>details>summary:active {
  background-color: hsl(var(--s) / var(--tw-bg-opacity)) !important;
}